* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

img {
    position: absolute;
    text-align: center;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
}
