* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

img {
    text-align: center;
    width: 100%;
}

#tip {
    position: fixed;
    bottom: 10vh;
    left: 50%;
    padding: 24px;
    transform: translateX(-50%);
    color: white;
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    text-align: center;
}

audio {
    margin-top: 8px;
}

.mark {
    margin-top: 8px;
    font-size: .9em;
}

button {
    padding: 4px 8px;
    border: none;
    outline: none;
    background: white;
    color: black;
    border-radius: 4px;
    font-size: .8em;
    cursor: pointer;
}
.text-wrapper {
    position: relative;
}

#text {
    margin-top: 8px;
    display: inline-block;
    text-align: left;
    width: 2em;
    font-weight: bold;
}

.github-corner {
    z-index: 3;
}
